<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Add New Post</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <style>
    body {
      background: rgb(229, 229, 229);
    }

    .gradient-custom {
      /* fallback for old browsers */
      background: #f6d365;

      /* Chrome 10-25, Safari 5.1-6 */
      background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    }
  </style>
  <script src="https://cdn.ckeditor.com/ckeditor5/36.0.0/classic/ckeditor.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style=" font-weight:bold;">Interview Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " style=" font-weight:bold;" aria-current="page" href="{% url 'home' %}">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" style=" font-weight:bold;" href="{% url 'addpost' %}">Add Blog</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style=" font-weight:bold;" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Accounts
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'bookmarkslist' %}">BookMarks</a></li>
              <li><a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{% url 'dashboard' %}">DashBoard</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link " style=" font-weight:bold;" href="{% url 'myblogs' %}">My Blogs</a>
          </li>
        </ul>
        <form class="d-flex" role="search" method="get" action="/search">
          <input class="form-control me-2" type="search" placeholder="Search here.." aria-label="Search" name="search"
            id="search">
          <button class="btn btn-outline-success" style=" font-weight:bold;" type="submit">Search</button>
        </form>
        <button class="btn btn-outline-danger" style=" font-weight:bold; margin-left: 10px;" type="submit">
          <a class="nav-link" style=" font-weight:bold;" href="{% url 'logout' %}">Logout</a>
        </button>
      </div>
    </div>
  </nav>
  <section class="vh-100">
    <div class="container my-5">
      <h2 style="color:black;" class="text-center">Let people know about your experiences...</h2>
      <form method="post" action="" class="card-body cardbody-color p-lg-5" autocomplete="on">
        {% csrf_token %}
        <div class="mb-3">
          <input type="text" class="form-control border-dark border-2" id="blog_title" placeholder="Blog Title"
            name="blog_title" required>
        </div>
        <div class="mb-3">
          <input type="text" class="form-control border-dark border-2" id="company_name" placeholder="Company Name..."
            name="company_name" required>
        </div>
        <div class="mb-3">
          <input type="text" class="form-control border-dark border-2" id="job_profile" placeholder="Job Profile"
            name="job_profile" required>
        </div>
        <div class="mb-3">
          <label for="job_offer_type" style="color: black;">Job Offer Type:</label>
          <select name="job_offer_type" id="job_offer_type" required>
            <option value="none" selected disabled hidden>Select an Option</option>
            {% for i in List%}
            <option>{{i}}</option>
            {%endfor%}
          </select>
        </div>
        <div class="mb-3">
          <input type="number" class="form-control border-dark border-2" id="year" placeholder="Year" name="year"
            required>
        </div>
        <div class="mb-3">
          <textarea id="blog_content" name="blog_content" placeholder="Blog Content"></textarea>
          <script>
            ClassicEditor
              .create(document.querySelector('#blog_content'))
              .then(editor => {
                console.log(editor);
              })
              .catch(error => {
                console.error(error);
              });
          </script>
        </div>
        {% for message in messages %}
        <h4 id="messages" class="text-center" style="color: black;">{{message}}</h3>
          {%endfor%}
          <br>

          <div class="text-center"><button type="submit" class="btn btn-primary mb-5" style="width: 8%;">Post&nbsp;<i class="fa-solid fa-plus"></i></button></div>

      </form>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/961682fbc2.js" crossorigin="anonymous"></script>
</body>

</html>