<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        body{
          background: rgb(229, 229, 229);
        }
        .btn-color{
            background-color: #0e1c36;
            color:  rgb(255, 255, 255);
            
            }

            .profile-image-pic{
            height: 200px;
            width: 200px;
            object-fit: cover;
            }

            .tc{
                color: white;
            }

            .cardbody-color{
            background-color: rgb(56, 56, 56);
            }

            a{
            text-decoration: none;
            }
            .to{
                color: rgb(11, 104, 244);
            }
            p{
              color: white;
            }
    </style>
  </head>
  <body>
    
<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <!-- <h2 class="tc text-center mt-5">Register Yourself!</h2> -->
        <div class="card my-2">
          <form method="POST" action="" enctype="multipart/form-data" class="card-body cardbody-color p-lg-5">
            {% csrf_token %}
            <h2 class="tc text-center mt-0 mb-5">Register Yourself!</h2>
            <div class="container mt-4">
            <div class="mb-3 ">
              <!-- <input type="text" class="form-control" id="Username" aria-describedby="emailHelp"
                placeholder="Enter your UserName..."> -->
                <!-- {{form.username.label}} -->
                {{form.username}}
                <!-- {{form.username.errors}} -->
            </div>
            <div class="mb-3">
              <!-- <input type="text" class="form-control" id="Username" aria-describedby="emailHelp"
                placeholder="Enter your UserName..."> -->
                <!-- {{form.first_name.label}} -->
                {{form.first_name}}
                <!-- {{form.first_name.errors}} -->
            </div>
            <div class="mb-3">
              <!-- <input type="text" class="form-control" id="Username" aria-describedby="emailHelp"
                placeholder="Enter your UserName..."> -->
                <!-- {{form.last_name.label}} -->
                {{form.last_name}}
                <!-- {{form.last_name.errors}} -->
            </div>
            <div class="mb-3">
              <!-- <input type="email" class="form-control" id="email" placeholder="Enter your Email..."> -->
              <!-- {{form.email.label}} -->
              {{form.email}}
              <!-- {{form.email.errors}} -->
            </div>
            <div class="mb-3">
              <!-- <input type="text" class="form-control" id="program" placeholder="Enter Program you are studying in..."> -->
              
              <p>Program {{form.program}}</p>
              
              <!-- {{form.program.errors}} -->
            </div>
            <div class="mb-3">
              <!-- <input type="number" class="form-control" id="batch" placeholder="Enter your Batch..."> -->
              <!-- {{form.batch.label}} -->
              <p>Batch {{form.batch}}</p>
              <!-- {{form.batch}} -->
              <!-- {{form.batch.errors}} -->
            </div>
            <div class="mb-3">
              <!-- <input type="password" class="form-control" id="password" placeholder="Enter your Password..."> -->
              <!-- {{form.password1.label}} -->
              <p>Password {{form.password1}}</p>
              <!-- {{form.password1}} -->
              <!-- {{form.password1.errors}} -->
            </div>
            <div class="mb-3">
              <!-- <input type="password" class="form-control" id="Confpassword" placeholder="Re-Enter your Password..."> -->
              <!-- {{form.password2.label}} -->
              <p>Confirm Password {{form.password2}}</p>
              <!-- {{form.password2}} -->
              <!-- {{form.password2.errors}} -->
            </div>
            <div class="mb-3">
              <!-- <input type="password" class="form-control" id="Confpassword" placeholder="Re-Enter your Password..."> -->
              <!-- {{form.profile_pic.label}} -->
              <p>Upload Profile Pic -  {{form.profile_pic}}</p>
              <!-- {{form.profile_pic}} -->
              <!-- {{form.profile_pic.errors}} -->
            </div>
            </div>
            <div class="text-center"><button type="submit" class="btn btn-primary px-5 mb-2 w-100" >SignUp</button></div>
            <div id="emailHelp" class="form-text text-center mb-0 tc">Already have an account? <a href="{% url 'login' %}" class="to fw-bold" style="color: aqua;"> Login Here!</a>
              </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>